body {
  font-family: Arial
}
.outer{
  overflow: scroll;
  padding-left: 200px;
  }
span{
  color: rgb(140, 119, 69)
  }
.button {
  cursor: pointer;
  border: 1px solid rgb(140, 119, 69);
  background: rgb(140, 119, 69);
  padding: 0 20px;
  height: 50px;
  border-radius: 30px;
  line-height: 47px;
  font-size: 16px;
  min-width: 15px;
  color: rgb(74, 24, 24);
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px 10px 0;
 }
.button svg {
  fill: rgb(74, 24, 24);
  vertical-align: middle;
  margin: 0px 3px 0 0;
  display: inline-block;
  font-weight: bold;
}
.card{
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: repeat(2,50%);
  align-content:start;
  width: 1fr;
  height: 100%;
  }
.Ed{
  grid-row-start:1;
  grid-row-end:2;
  grid-column-start:1;
  grid-column-end:3;
  background: rgb(247, 239, 218);
  padding: 4px 5px;
  border-radius: 25px;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 50;
  color: rgb(51,51,51);
  margin: 0 10px 20px 0;
}
.Ex{
  grid-row-start:2;
  grid-row-end:3;
  grid-column-start:1;
  grid-column-end:2;
  background: rgb(247, 239, 218);
  padding: 4px 5px;
  border-radius: 25px;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 50;
  color: rgb(51,51,51);
  margin: 0 10px 20px 0;
  align-items:stretch;
}
.Sk{ 
  grid-row-start:2;
  grid-row-end:3;
  grid-column-start:2;
  grid-column-end:3;
  align-items: stretch;
  background: rgb(247, 239, 218);
  padding: 4px 5px;
  border-radius: 25px;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 50;
  color: rgb(51,51,51);
  margin: 0 10px 20px 0;
  
}
p, ul{
  font-size: 18px;
  color: rgb(77, 76, 76);
}
h1{
  font-size: 50px;
  margin-bottom: 10px; 
}
h2{
  color: black;
}
.box{
  background: rgb(140, 119, 69);
  width: 200px;
  height: 100%;
  margin: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  }
.avatar{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 150px;
  height: 175px;
  border: 7px solid #fff;
  object-fit: cover;
  box-shadow: 1px 1px 20px px rgba(128, 116, 89, 0.9);
  border-radius: 20%;
  }
.link_box {
  display: grid;
  text-align: center;
  line-height: 2;
  margin: 30px 0 30px 0;
    }
a{
  color: rgb(74, 24, 24);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  background: rgb(130, 77, 77);
}
#go-to-about, #go-to-education, #go-to-experience{
  color: (38, 38, 28);
}
.Simple_links {
  margin-top: 70px;
  color: rgb(74, 24, 24);
  font-size: 18px;
  font-weight: bold;
}
.Simple_links2 {
 text-align: left;
  margin-top: 0px;
  text-decoration: none;
  color: rgb(74, 24, 24);
  font-size: 18px;
  font-weight: bold;
}